* {
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
}

.dark-theme {
  --primary-color: #000;
  --secondary-color: #fff;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

header {
  align-items: center;
  height: 101px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  align-content: center;
  height: 45px;
  left: 107px;
  top: 34px;
  font-family: Dancing Script, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  animation: movedown 1s linear 1;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.kaze {
  font-weight: 200;
  font-style: italic;
  font-size: 50px;
  font-family: Tilt Prism, sans-serif;
}

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }

  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

nav {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 40px;
}

ul {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}

#icon {
  width: 30px;
  cursor: pointer;
}

.nav-link {
  padding: 10px;
  height: 20px;
  left: 904px;
  top: 47px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  width: 100vw;
  padding: 100px;
  background-color: var(--primary-color);
}

.first {
  width: 30vw;
  padding: 50px;
}

.name {
  padding-bottom: 70px;
  width: 400px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-shadow: 2px 2px #db52ea;
}

.role {
  width: 400px;
  height: 400px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.btn {
  color: var(--secondary-color);
  width: 206px;
  height: 61px;
  left: 235.01px;
  top: 826px;
  background: #c222d4;
  border-radius: 5px;
}

.second {
  padding: 50px;
  width: 467px;
  height: 701px;
  left: 804.01px;
  top: 209px;
  background: url(/my-portfolio/resources/assets/main/585eb776-849a-48cf-a626-179b2db4e5ce.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  animation: slidein 3s linear 1;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes slidein {
  0% {
    transform: translateX(100px);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@media (min-width: 901px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 600px;
    border-bottom: 5px solid black;
  }

  .title {
    width: 50vw;
    margin: 15px;
    padding-left: 100px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .pro {
    height: 650px;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .prev-title {
    text-align: center;
    height: 36px;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .box-item {
    height: 30vh;
    width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    padding: 30px;
  }

  .img {
    width: 250px;
    height: 150px;
  }

  .grid-btn {
    margin-left: 40px;
    width: 100px;
    height: 30px;
    background-color: #c222d4;
    visibility: hidden;
  }

  .Expertise {
    height: 80vh;
    display: flex;
    justify-content: center;
    background-image: url(/my-portfolio/resources/assets/image/pexels-henry-&-co-1939485.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 900px) {
  header {
    align-items: center;
    width: 900px;
    height: 101px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }

  .logo {
    align-content: center;
    height: 45px;
    left: 107px;
    top: 34px;
    font-family: Dancing Script, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
    cursor: pointer;
  }

  .kaze {
    font-weight: 200;
    font-style: italic;
    font-size: 50px;
    font-family: Tilt Prism, sans-serif;
  }

  @keyframes movedown {
    0% {
      transform: translateY(-100px);
      visibility: visible;
    }

    100% {
      transform: translateY(0);
      visibility: visible;
    }
  }

  nav {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
  }

  ul {
    width: 40vw;
    display: flex;
    justify-content: space-around;
  }

  #icon {
    width: 30px;
    cursor: pointer;
  }

  .nav-link {
    padding: 7px;
    height: 20px;
    left: 904px;
    top: 47px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .main {
    display: flex;
    width: 800px;
    padding: 100px;
    background-color: var(--primary-color);
  }

  .first {
    width: 300px;
    padding: 50px;
  }

  .name {
    padding-bottom: 90px;
    width: 300px;
    height: 200px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-shadow: 2px 2px #db52ea;
  }

  .role {
    padding-bottom: 70px;
    width: 300px;
    height: 400px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }

  .btn {
    color: var(--secondary-color);
    width: 206px;
    height: 61px;
    left: 235.01px;
    top: 826px;
    background: #c222d4;
    border-radius: 5px;
  }

  .second {
    width: 500px;
    height: 701px;
    top: 209px;
    background: url(/my-portfolio/resources/assets/main/585eb776-849a-48cf-a626-179b2db4e5ce.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    animation: slidein 3s linear 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
    cursor: pointer;
  }

  @keyframes slidein {
    0% {
      transform: translateX(100px);
      visibility: visible;
    }

    100% {
      transform: translateX(0);
      visibility: visible;
    }
  }

  .click {
    color: var(--secondary-color);
    cursor: pointer;
    width: 200px;
    height: 27px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
  }

  .click:hover {
    color: #c222d4;
  }

  .prev {
    height: 100vh;
  }

  .prev-section {
    text-align: center;
    font-size: 50px;
    font-family: Lato, sans-serif;
  }

  .title {
    width: 50vw;
    margin: 15px;
    padding-left: 100px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .pro {
    height: 900px;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .prev-title {
    text-align: center;
    height: 36px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 900px;
    justify-content: center;
    height: 40vh;
    margin: 30px;
  }

  .box-item {
    height: 30vh;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    padding: 20px;
  }

  .img {
    width: 200px;
    height: 150px;
  }

  .grid-btn {
    margin-left: 40px;
    width: 100px;
    height: 30px;
    background-color: #c222d4;
    visibility: hidden;
  }

  .lang {
    width: 130px;
    height: 20px;
    top: 2709px;
    font-family: poppings, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 27px;
  }

  i {
    font-size: 10px;
  }
}

@media (max-width: 630px) {
  header {
    width: 630px;
    height: 110px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }

  nav .nav-list {
    display: grid;
    position: absolute;
    width: 30vw;
    height: 350px;
    top: 75px;
    left: 0;
    transform: translateX(-100%);
    z-index: 1;
    transition: 0.6s;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    height: 50px;
  }

  #icon {
    width: 30px;
    cursor: pointer;
    margin: 50px;
  }

  nav .nav-list .nav-item {
    padding: 15px;
  }

  nav .navbar-toggler {
    display: grid !important;
    background-color: rgb(3, 3, 3);
  }

  .main {
    padding-left: 0%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    width: 650px;
  }

  .name {
    width: 500px;
    align-items: center;
    text-align: center;
    height: 100px;
    padding-top: 0;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
  }

  .role {
    height: 350px;
    left: 235.01px;
    top: 570px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    width: 500px;
    text-align: center;
  }

  .second {
    width: 500px;
    height: 701px;
    left: 804.01px;
    top: 209px;
    background: url(/my-portfolio/resources/assets/main/585eb776-849a-48cf-a626-179b2db4e5ce.JPG);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .prev-section {
    text-align: center;
    font-size: 50px;
    font-family: Lato, sans-serif;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 80vw;
    overflow: hidden;
  }

  .projects.open {
    height: 1700px;
    overflow: auto;
  }

  .grid-btn {
    margin-left: 40px;
    width: 100px;
    height: 50px;
    background-color: #c222d4;
    visibility: visible;
  }

  .pro {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-top: 200px;
  }

  .prev-title {
    text-align: center;
    height: 36px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .box-item {
    height: 30vh;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    padding: 20px;
  }

  .click {
    text-align: center;
    color: var(--secondary-color);
    cursor: pointer;
    width: 150px;
    left: 1014.01px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    line-height: 27px;
    font-weight: 300;
    font-size: 13px;
  }

  .click:hover {
    color: #c222d4;
  }

  .info {
    width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .img {
    width: 200px;
    height: 150px;
  }

  h5 {
    text-align: center;
    padding-bottom: 20px;
    width: 200px;
    height: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 80;
    font-size: 20px;
    line-height: 20px;
  }

  h6 {
    text-align: center;
    padding-bottom: 10px;
    width: 210px;
    height: 30px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid black;
  }

  .lang {
    width: 200px;
    height: 27px;
    left: 1014.01px;
    top: 2709px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    line-height: 27px;
  }

  i {
    font-size: 8px;
    padding: 2px;
  }
}

nav .navbar-toggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 10%;
  transition: 0.4s;
}

input {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
  margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  width: 100%;
  height: 10vh;
}
