* {
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
}

.dark-theme {
  --primary-color: #000;
  --secondary-color: #fff;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

header {
  align-items: center;
  width: 100vw;
  height: 101px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  align-content: center;
  height: 45px;
  left: 107px;
  top: 34px;
  font-family: Dancing Script, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  animation: movedown 1s linear 1;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.kaze {
  font-weight: 200;
  font-style: italic;
  font-size: 50px;
  font-family: lato, sans-serif;
}

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }

  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

nav {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}

#icon {
  width: 30px;
  cursor: pointer;
}

.nav-link {
  padding: 10px;
  height: 20px;
  left: 904px;
  top: 47px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  width: 100vw;
  padding: 100px;
  background-color: var(--primary-color);
}

.first {
  width: 30vw;
  padding: 50px;
}

.name {
  padding-bottom: 70px;
  width: 400px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-shadow: 2px 2px #db52ea;
}

.role {
  width: 400px;
  height: 400px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.btn {
  color: var(--secondary-color);
  width: 206px;
  height: 61px;
  left: 235.01px;
  top: 826px;
  background: #c222d4;
  border-radius: 5px;
}

.second {
  padding: 50px;
  width: 50vw;
  height: 701px;
  left: 804.01px;
  top: 209px;
  background: url(/my-portfolio/resources/assets/main/585eb776-849a-48cf-a626-179b2db4e5ce.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  animation: slidein 3s linear 1;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes slidein {
  0% {
    transform: translateX(100px);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@media (max-width: 768px) {
  nav .nav-list {
    display: grid;
    position: absolute;
    width: 30vw;
    height: 70vh;
    top: 75px;
    left: 0;
    transform: translateX(-100%);
    z-index: 1;
    transition: 0.6s;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    justify-content: space-around;
    width: 30vw;
  }

  #icon {
    width: 30px;
    cursor: pointer;
    margin: 50px;
  }

  nav .nav-list .nav-item {
    padding: 15px;
  }

  nav .navbar-toggler {
    display: grid !important;
    background-color: rgb(3, 3, 3);
  }

  .main {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .name {
    text-align: center;
    height: 150px;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
  }

  .role {
    height: 350px;
    left: 235.01px;
    top: 570px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    width: 500px;
    text-align: center;
  }

  .btn {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 200px;
    background-color: #c222d4;
    width: 100px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  .second {
    width: 500px;
    height: 701px;
    left: 804.01px;
    top: 209px;
    background: url(/my-portfolio/resources/assets/main/585eb776-849a-48cf-a626-179b2db4e5ce.JPG);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

nav .navbar-toggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 10%;
  transition: 0.4s;
}

input {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
  margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}
