* {
  padding: 0;
  margin: 0;
  background-color: rgb(10, 9, 9);
  color: white;
  list-style: none;
}

header {
  align-items: center;
  width: 100vw;
  height: 101px;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  align-content: center;
  height: 45px;
  left: 107px;
  top: 34px;
  font-family: Dancing Script, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  animation: movedown 1s linear 1;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.kaze {
  font-weight: 200;
  font-style: italic;
  font-size: 50px;
  font-family: lato, sans-serif;
}

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }

  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

ul {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  padding: 10px;
  height: 20px;
  left: 904px;
  top: 47px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.main{
  display: flex;
  width: 100vw;
  padding: 100px;
}

.first{
  width: 400px;
 padding-top: 150px;
}

.name{
width: 350px;
height: 180px;
left: 240.01px;
top: 351px;
font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 90px;
color: #FFFFFF;
}

.role{
padding-bottom: 120px;
width: 350px;
height: 210px;
left: 235.01px;
top: 570px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 42px;
color: #FFFFFF;
}

.btn{
background-color: #a749d3;
width: 86px;
height: 27px;
font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;


}

.second{
width: 500px;
height: 701px;
left: 804.01px;
top: 209px;
background: url(/my-portfolio/resources/assets/main/585eb776-849a-48cf-a626-179b2db4e5ce.JPG);
background-size: cover;
background-repeat: no-repeat;
}

@media (max-width: 675px) {
  nav .nav-list {
    display: grid;
    position: absolute;
    width: 30vw;
    height: 70vh;
    top: 75px;
    left: 0;
    transform: translateX(-100%);
    z-index: 1;
    transition: 0.6s;
  }

  nav .nav-list .nav-item {
    padding: 15px;
  }

  nav .navbar-toggler {
    display: grid !important;
  }
}

nav .navbar-toggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 10%;
  transition: 0.4s;
}

input {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
  margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}
